<link rel="stylesheet" href="/assets/app.css" type="text/css" />
<style>
body{
margin:auto;
text-align:center;
}
</style>
<div id='bannerPrefDiv' style="position:absolute;background:none repeat scroll 0 0 #FFFFFF;border: 2px solid; border-radius: 10px;z-index:10000">
					<table class='table' id='prefImagesTable'>
						<tr><td colspan='4' align='left'><h2>Laptops and Desktops</h2></td></tr>
						<tr><td><strong>Size</strong></td><td><strong>Style</strong></td><td><strong>Gif Weight</strong></td><td><strong>Flash Weight</strong></td></tr><tr>
						<td>468 x 60 </td><td> Full Banner</td><td> 20 KB</td><td> 30 KB</td></tr><tr>
						<td>728 x 90 </td><td>Leaderboard </td><td> 25 KB</td><td> 35 KB</td></tr><tr>
						<td>250 x 250 </td><td>Square </td><td> 25 KB</td><td> 35 KB</td></tr><tr>
						<td>160 x 600 </td><td>Skyscraper </td><td>20 KB </td><td> 30 KB</td></tr><tr>
						<td>240 x 400 </td><td>Fat Skyscraper </td><td>25 KB </td><td>35 KB </td></tr><tr>
						<td>234 x 60 </td><td>Half Banner </td><td> 15 KB</td><td>20 KB </td></tr><tr>
						<td>120 x 60 </td><td>Button </td><td>10 KB </td><td>20 KB </td></tr><tr>
						<td>88 x 31 </td><td>Button </td><td>10 KB </td><td>10 KB </td></tr>
						
						<!-- Mobiles -->
						<tr><td colspan='4' align='left'><h2>Mobiles</h2></td></tr>
						<tr><td><strong>Size ( Style )</strong></td><td><strong>Image Weight</strong></td></tr>
						<tr><td>120 x 20 </td><td> 20 KB</td></tr><tr><td>168 x 28 </td><td> 20 KB</td></tr><tr><td>216 x 36 </td><td> 20 KB</td></tr><tr><td>300 x 250 (Smartphones Only) </td><td> 20 KB</td></tr><tr><td>300 x 50 (Smartphones Only) </td><td> 20 KB</td></tr><tr><td>320 x 50 (Smartphones Only) </td><td> 20 KB</td></tr>
						<!-- Tablets -->
						<tr><td colspan='4' align='left'><h2>Tablets</h2></td></tr>
						<tr><td><strong>Size</strong></td><td><strong>Image Weight</strong></td></tr><tr><td>300 x 250</td><td> 20 KB</td></tr><tr><td>468 x 60</td><td> 20 KB</td></tr><tr><td>728 x 90</td><td> 20 KB</td></tr><tr><td>1024 x 90</td><td> 20 KB</td></tr>

		
		
		
					</table>
				</div>
