<div class="pcontent" style="margin-left: 145px;margin-right:239px;">
			<h4 class="alert-header" id="notice" style="margin-top:0;margin-bottom:0;"> </h4>
			<div class="row">
			  <div class="span12">
				<div class="well" style="text-align:center;padding:130px 0;">
					<div align="center"><% if params[:aft] == '1' %> <p>Website submitted successfully. Please create conversions for your site below.</p> <% end %></div>
				  <div class="noicon"><img alt="Glyphicons_266_flag@2x" src="/assets/flag.png"></div><br>
				  <h3>Conversions</h3>
					  <p>You haven't created any conversion yet.</p>
					  <hr style="width:90px;margin:14px auto;">
					  <a href="/conversions/new" class="animated bounceIn btn btn-primary btn-large"><i class="icon-flag icon-white"></i> Create your conversion</a>
				</div>     
			  </div>
			</div>
		</div>
