<div style="margin:20px">
	<h3>
		<p>
			<h2>Welcome to Tagaly's Publisher Dashboard. </h2>
		</p>
		<p>
			We help publishers sell their inventory directly to advertisers. No middle man. Fully Transparent. Self-serve.Proceed by creating a new site <a href="/publishersites/new?type=publisher">here</a>
		</p>
	</h3>
</div>
