<script>
</script>
<div class="well">
		   <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
				<i class="glyphicon glyphicon-calendar icon-calendar icon-large"></i>
				<span></span> <b style="vertical-align: middle;" class="caret"></b>
		   </div>
			<script type="text/javascript">
			    $(document).ready(function() 
					{
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1;
var yyyy = today.getFullYear();
var alltoget = yyyy+"-"+mm+"-"+dd
//alert(startdate);
					$('#reportrange').daterangepicker(
						{
							startDate: moment().subtract('days', 29),
							endDate:  moment(),
							minDate: '2012-01-01',
							maxDate: alltoget,
							dateLimit: { days: 60 },
							showDropdowns: true,
							showWeekNumbers: true,
							timePicker: false,
							timePickerIncrement: 1,
							timePicker12Hour: true,
							ranges: {
							   'Today': [moment(), moment()],
							   'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
							   'Last 7 Days': [moment().subtract('days', 6), moment()],
							   'Last 30 Days': [moment().subtract('days', 29), moment()],
							   'This Month': [moment().startOf('month'), moment().endOf('month')],
							   'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
						},
						opens: 'left',
						buttonClasses: ['btn btn-default'],
						applyClass: 'btn-small btn-primary',
						cancelClass: 'btn-small',
						format: 'YYYY/MM/DD',
						separator: ' to ',
						locale: {
							applyLabel: 'Submit',
							fromLabel: 'From',
							toLabel: 'To',
							customRangeLabel: 'Custom Range',
							daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
							monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
							firstDay: 1
						}
					 },
					 function(start, end) {
					  console.log("Callback has been called!");
					  $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
					 }
				  );
				  //Set the initial state of the picker label
				  $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
			   });
			</script>
		</div>
