<div class="pcontent" style="margin-left: 145px;margin-right:239px;">

			<h4 class="alert-header" id="notice" style="margin-top:0;margin-bottom:0;"> </h4>
			<div class="row">
			  <div class="span12">
				<div class="well" style="text-align:center;padding:130px 0;width:90%">
				  <div class="noicon"><img alt="Glyphicons_266_flag@2x" src="/assets/flag.png"></div><br>
				  <h3>Campaigns</h3>
				  	<% if params[:aft] == '1' %>
				  		 <p>Website submitted successfully, Next step is creating your first campaign. Please start your campaign below .</p>
				  	 <% else %>
					  		<p>You haven't created any campaigns yet.</p>
					  <% end %>
					  <hr style="width:90px;margin:14px auto;">
					  <a href="/campaigns/new" class="animated bounceIn btn btn-primary btn-large"><i class="icon-flag icon-white"></i> Start your FREE TRIAL Campaign</a>
				</div>     
			  </div>
			</div>
		</div>
