<script>
	$(document).ready(function(){
		var fontnames = Array();
		<% @allfonts.each do |font| %>
			fontnames.push('<%= font.name %>');
		<% end %>
		$("#fontfile").change(function(e) {
			var _URL = window.URL || window.webkitURL;
			var _validFileExtensions = [".woff",".ttf"];
			var ext = $('#fontfile').val().split('.').pop().toLowerCase();
			if($.inArray(ext, ["woff","ttf"]) == -1) {
					$("#fontFileDetails").val("");
					$("#fileError").show();
					$("#fileError").html("Please upload a valid file");
					$("#nameError").width("150px");
					alert("Invalid File, Please upload files with extension 'woff' , 'ttf' only.");
			} else {
				if(this.files[0]["size"] > 5242880) {
					$("#fontFileDetails").val("");
					$("#fileError").show();
					$("#fileError").html("Please upload a valid file");
					$("#nameError").width("150px");
				} else {
					$("#fontFileDetails").val("Upload");
				}
			}
		});
		$("#name").change(function(e) {
			var fontname = $(this).val();
			if(fontname.trim() == "") {
				$("#nameError").show();
				$("#nameError").width("125px");
				$("#nameError").html("Name cannot be null");
				return false;
			} else {
				if(inArray(fontname, fontnames)) {
					$("#nameError").show();
					$("#nameError").html(fontname + " is already taken, Please provide another name");
					$("#nameError").width("350px");
				} else {
					if( /[^a-zA-Z0-9 /-]/.test( fontname ) ) {
						$("#nameError").show();
						$("#nameError").html("Font name cannot have special characters execpt 'space' and '-'");
						$("#nameError").width("350px");
						 return false;
					} else {
						$("#nameError").hide();
						$("#nameError").html("");
						$("#nameError").width("0px");
					}
				}
			}
		});
		$(".submit").click(function() {
			var fontname = $("#name").val();
			var fontFileDetails = $("#fontFileDetails").val();
			if(fontname.trim() == "") {
				$("#nameError").show();
				$("#nameError").width("125px");
				$("#nameError").html("Name cannot be null");
				return false;
			} else {
				if(inArray(fontname, fontnames)) {
					$("#nameError").show();
					$("#nameError").html(fontname + " is already taken, Please provide another name");
					$("#nameError").width("350px");
					return false;
				} else {
					if( /[^a-zA-Z0-9 /-]/.test( fontname ) ) {
						$("#nameError").show();
						$("#nameError").html("Font name cannot have special characters execpt 'space' and '-'");
						$("#nameError").width("350px");
						 return false;
					}
				}
			}
			if(fontFileDetails.trim() == "" || fontFileDetails.trim() != "Upload") {
				$("#fileError").show();
				$("#fileError").html("Please upload a valid file");
				$("#nameError").width("150px");
				return false;
			}
			// $('form#fontForm').submit();
		});
	});
	function inArray(needle, haystack) {
		  var length = haystack.length;
		  for(var i = 0; i < length; i++) {
		      if(haystack[i] == needle) return true;
		  }
		  return false;
	}
</script>
<style>
	td {
		width:50%;
	}
</style>
<div class="span12"> 
	<div>
		<form action="" id="fontForm" method="post" enctype="multipart/form-data">
		<input type='hidden' name='authenticity_token' value="<%= form_authenticity_token() %>" />
		<input type='hidden' id='fontFileDetails' value="" />
		<input type='hidden' id='fontNameDetails' value="" />
		<table style="width:100%;">
			<tr>
				<td style="float:right;">Font Name:</td>
				<td><input type="text" id="name" name="font[name]"/><div class="error" id="nameError"></div></td>
			</tr>
			<tr>
				<td style="float:right;">Upload Font:</td>
				<td><input type="file" id="fontfile" name="font[file]"/><div class="error" id="fileError"></div></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-success submit" style="margin-top:20px"/></td>
			</tr>
		</table>
		</form>
	</div>
</div>
